*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html, body{
    height: 100%;
}

body{
    background: linear-gradient(90deg, #0500FF 0.52%, #F8FB76 35.41%, #4EFF75 63.63%, #00FFD1 99.03%);
    backdrop-filter: blur(125px);
}

.background2{
    height: auto;
    width: 100%;
    background: rgba(247, 250, 255, 0.9);
    backdrop-filter: blur(125px);
}

a{
    text-decoration: none;
}

nav .container {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 30px;
    /* margin: 0 auto; */
    /* background-color: aqua; */
    justify-content: space-between;
}

nav .brand {
    display: flex;
    font-weight: 600;
    font-size: 20px;
    align-items: center;
}

nav .menu {
    display: flex;
    gap: 40px;
    text-decoration: none;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}

nav .menu-item {
    text-decoration: none;
    color: black;
    opacity: 80%;
}

.nav-sign-up {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: black;
    font-weight: 600;
   
}

.nav-sign-up:hover{
    background-color: #001AFF;
    color: white;
}

nav .menu-item:hover {
    border-bottom: 1px solid black;
}

section .container{
    display: flex;
    margin-right: 15%;
    margin-left: 15%;
    flex-direction: column;
    margin-top: 125px;
}

.headline , .subheadline{
    text-align: center;
}

.headline{
    font-weight: 600;
    font-size: 23px;
    line-height: 49px;
}

.subheadline{
    width: 500px;
    margin: auto;
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    opacity: 60%;
    margin-bottom: 40px;
}


.content{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 630px;
}

.btn{
    margin: auto;
    text-align: center;
}

.btn-primary{
    text-align: center;
    color: #fff;
    padding: 11px 10px;
    background-color: #001AFF;
    box-shadow: 0px 15px 30px rgb(0, 26, 255, 0.2);
    border-radius: 100px;
    margin-right: 25px ;
}

.btn-secondary{
    color: #001AFF;
}

.btn-secondary:hover{
    border-bottom: 1px solid #001AFF;
}

section .container{
    display: flex;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 75px;
    margin-bottom: 25px;
}

.sub-title{
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 7px;
}

.content-footer{
    display: flex;
    flex-direction: row;
    gap: 20px;
   
}

.img-icon{
   align-items: center;
   
   flex-shrink: 0;
   margin-right: 13px;
   width: 50px;
   height: 50px;

}



.content-active{
    background-color: #3648e8;
    padding: 25px;
    box-shadow: 0px 30px 60px rgba(0, 26, 255, 0.1);
    border-radius: 8px;
    margin-bottom: 30px;
    
}

.title-content {
   font-weight: 600;
   color: #fff;
}

.title-content2 {
    font-weight: 600;
    color: #000;
}


.header{
    display: flex;
    margin: 0;
    align-items: center;
}

.subtitle-content{
    font-weight: 400;
    color: #fff;
    opacity: 80%;
    font-size: 14px;
}

.subtitle-content2 {
    font-weight: 400;
    color: #000;
    opacity: 80%;
    font-size: 14px;
}

.description-job{
    color: #fff;
    margin-top: 20px;
    line-height: 25px;
    font-size: 16px;
    font-weight: 400;
    opacity: 80%;
}

.description-job2 {
    color: #000;
    margin-top: 20px;
    line-height: 25px;
    font-size: 16px;
    font-weight: 400;
    opacity: 80%;
}

.job-footer{
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}

.job-footer2 {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}

.job-footer3 {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}

.content-job2{
    justify-content: flex-start;
}

.btn-job{
    display: flex;
    align-items: center;
    background-color: aliceblue;
    padding: 3px 12px;
    border-radius: 80px;
    font-weight: 600;
}

.btn-job2 {
    display: flex;
    align-items: center;
    background-color: #001AFF;
    padding: 3px 12px;
    border-radius: 80px;
    color: #fff;
    font-weight: 600;
}

.btn-job3 {
    background-color: #001AFF;
    padding: 3px 12px;
    border-radius: 80px;
    color: #fff;
    font-weight: 600;
}
.contentjob-footer{
    padding: 25px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 30px 60px rgba(0, 26, 255, 0.1);
    border-radius: 8px;
    margin-bottom: 30px;
    gap: 20px;
}



